#about{
    scroll-margin-top:100px
}
#highlights{
    scroll-margin-top:150px
}
#policies{
    scroll-margin-top:100px
}
#techDeploys{
    scroll-margin-top:60px
}
html{
    scroll-behavior: smooth;
    
}
